<launch>
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="quadrotor_points_xyzrgb_qhd"
            args="load depth_image_proc/point_cloud_xyzrgb quadrotor" respawn="true">
        <remap from="rgb/camera_info"             to="/quadrotor/camera/color/camera_info"/>
        <remap from="rgb/image_rect_color"        to="/quadrotor/camera/color/image_raw"/>
        <remap from="depth_registered/image_rect" to="/quadrotor/camera/depth/image_rect_raw"/>
        <remap from="depth_registered/points"     to="/quadrotor/camera/depth_registered/points"/>
        <param name="queue_size" type="int" value="5"/>
    </node>
</launch>